<!DOCTYPE html>
<html>
<head>
    <title>Edit Transaksi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Edit Transaksi</h2>

<form method="POST">
    <label>Pasien</label>
    <select name="id_pasien">
        {% for p in pasien %}
        <option value="{{ p.id_pasien }}"
        {% if p.id_pasien == data.id_pasien %}selected{% endif %}>
            {{ p.nama }}
        </option>
        {% endfor %}
    </select>

    <input type="number" name="total" value="{{ data.total_biaya }}" required>
    <input type="text" name="status" value="{{ data.status_pembayaran }}" required>
    <input type="date" name="tanggal" value="{{ data.tanggal }}" required>

    <button type="submit">Update</button>
</form>

<a href="/">Kembali</a>

</body>
</html>
