<!DOCTYPE html>
<html>
<head>
    <title>Transaksi Rawat Inap</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Data Transaksi Rawat Inap</h2>
<a href="/tambah" class="btn">+ Tambah Transaksi</a>

<table>
    <tr>
        <th>ID</th>
        <th>Nama Pasien</th>
        <th>Total Biaya</th>
        <th>Status</th>
        <th>Tanggal</th>
        <th>Aksi</th>
    </tr>

    {% for d in data %}
    <tr>
        <td>{{ d.id_transaksi }}</td>
        <td>{{ d.nama }}</td>
        <td>Rp {{ d.total_biaya }}</td>
        <td>{{ d.status_pembayaran }}</td>
        <td>{{ d.tanggal }}</td>
        <td>
            <a href="/edit/{{ d.id_transaksi }}" class="edit">Edit</a>
            <a href="/hapus/{{ d.id_transaksi }}" class="hapus"
               onclick="return confirm('Yakin hapus data?')">Hapus</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="/pasien">pasien</a>

</body>
</html>
