<!DOCTYPE html>
<html>
<head>
    <title>Login Klinik</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Login Klinik</h2>
        <form method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password">
            </div>

            <button class="btn">Login</button>
        </form>
    </div>
</div>

</body>
</html>
