<!DOCTYPE html>
<html>
<head>
    <title>Data Pasien</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <div>Klinik</div>
    <div><a href="/dashboard">Dashboard</a></div>
</div>

<div class="content">
    <div class="card">
        <h2>Data Pasien</h2>
        <table>
            <tr>
                <th>Nama</th>
                <th>Alamat</th>
                <th>No HP</th>
            </tr>
            <tr>
                <td>Budi</td>
                <td>Bandung</td>
                <td>08123xxx</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
