<!DOCTYPE html>
<html>
<head>
    <title>Tambah Transaksi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Tambah Transaksi</h2>

<form method="POST">
    <label>Pasien</label>
    <select name="id_pasien">
        {% for p in pasien %}
        <option value="{{ p.id_pasien }}">{{ p.nama }}</option>
        {% endfor %}
    </select>

    <input type="number" name="total" placeholder="Total Biaya" required>
    <select name="status" id="">
        <option value="Lunas">Lunas</option>
        <option value="Belum Lunas">Belum Lunas</option>
    </select>
    <input type="date" name="tanggal" required>

    <button type="submit">Simpan</button>
</form>

<a href="/">Kembali</a>

</body>
</html>
